@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <label for="exampleFormControlInput" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>